.text-green{
  color:green;
}


.main-menu-item{
  padding: 0px 5px;
}

/* The color on hover */
.main-menu-item:hover{
  background-color: green;
  color: white;
  padding: 0px 5px;
  border-radius: 10px;
}

.main-menu-item:active{
  background-color: brown;
  color: white;
  padding: 0px 5px;
  border-radius: 10px;
}
.nav-sub-item:hover{
  background-color: rgb(181, 234, 202);
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
}
label.tableAmount{
  display: flow;
  

}

label.valuationValue{
  color: blue;
}
.icon-btn-primary{
  background-color: rgb(236, 234, 234);
  color: black;
  border-radius: 3px;
  padding: 6px;
  margin:5px
}

.tableAmount{
  text-align: end;
}

.brown-bg{
  color: white;
  background: brown;
  padding: 8px 12px;
  border-radius: 20px;
}
.green-bg{
  color: white;
  background: green;
  padding: 8px 12px;
  border-radius: 20px;
}

#month-1-sales-col{
  background-color: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#card-header-purchases{
  background-color: rgb(188, 101, 101);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sales-bar{
  margin: 5px;
  color: white;
  text-align: center;
  border-radius: 0px;
  background-color: rgba(165, 205, 5, 0.729);
}
.month-1-bar{
  border-radius: 0px;
}

.valuations-bar{
  margin: 5px;
  color: white;
  text-align: center;
  border-radius: 0px;
  background-color: rgb(203, 150, 70);
}

.month-1-val-bar{
  border-radius: 0px
}

.btn-action{
  border-width: 0;
  line-height: 1.538;
  padding: 5px 10px;
  border-radius: 0;
  transition: none;
  min-height: 20px;
}